In [1]:
import pandas as pd
import numpy as np
import pymysql
import sqlalchemy as alch
import os
from dotenv import load_dotenv
from getpass import getpass

### **CLEANING** ###

    EXPLORING THE DATASETS TO SEE WHAT INFO I'VE GOT

In [2]:
imdb = pd.read_csv("../posibles_datasets/IMDB-Movie-Data.csv")
best_act = pd.read_csv("../posibles_datasets/Top 100 Greatest Hollywood Actors of All Time.csv")
amazon = pd.read_csv("../posibles_datasets/amazon_prime_titles.csv")
award = pd.read_csv("../posibles_datasets/database.csv")
netflix = pd.read_csv("../posibles_datasets/netflix_titles.csv")

- DF 1

In [3]:
imdb.shape

(1000, 12)

In [4]:
imdb.sample(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
398,399,Absolutely Anything,"Comedy,Sci-Fi",A group of eccentric aliens confer a human bei...,Terry Jones,"Simon Pegg, Kate Beckinsale, Sanjeev Bhaskar, ...",2015,85,6.0,26587,NaN,31.0
592,593,The Drop,"Crime,Drama,Mystery",Bob Saginowski finds himself at the center of ...,Michaël R. Roskam,"Tom Hardy, Noomi Rapace, James Gandolfini,Matt...",2014,106,7.1,116118,10.72,69.0

In [5]:
def lists_into_rows(df,columname):

    ''' Function to create a row with duplicate information for every item on a list in every row for a column.
    it takes 2 args:
    - dataframe
    - column name.
    '''

    df[columname] = df[columname].str.split(', ')
    df_expanded = df.explode(columname)
    df_expanded.reset_index(drop=True, inplace=True)
    return df_expanded

In [6]:
imdb = lists_into_rows(imdb, "Actors")
imdb.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Chris Pratt,2014,121,8.1,757074,333.13,76.0
1,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Vin Diesel,2014,121,8.1,757074,333.13,76.0
2,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Bradley Cooper,2014,121,8.1,757074,333.13,76.0
3,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Zoe Saldana,2014,121,8.1,757074,333.13,76.0
4,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,Noomi Rapace,2012,124,7.0,485820,126.46,65.0

In [7]:
def lists_into_columns(df, column_name,split, name1, name2, name3):
    ''' 
    Function to separate a list from every row on a column 
    and put each element into a new column. Takes 6 args:
    - df
    - column name
    - How do you want to split(", " or just ",")
    - new columns names
    '''

    df_split = df[column_name].str.split(split,n=2,expand=True)
    df_split.columns = [name1, name2, name3]
    df_split = df_split.fillna('')
    df_expanded = pd.concat([df, df_split], axis=1)

    return df_expanded

In [8]:
imdb = lists_into_columns(imdb, "Genre",",", "Genre_1", "Genre_2", "Genre_3")
imdb.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Genre_1,Genre_2,Genre_3
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Chris Pratt,2014,121,8.1,757074,333.13,76.0,Action,Adventure,Sci-Fi
1,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Vin Diesel,2014,121,8.1,757074,333.13,76.0,Action,Adventure,Sci-Fi
2,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Bradley Cooper,2014,121,8.1,757074,333.13,76.0,Action,Adventure,Sci-Fi
3,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,Zoe Saldana,2014,121,8.1,757074,333.13,76.0,Action,Adventure,Sci-Fi
4,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,Noomi Rapace,2012,124,7.0,485820,126.46,65.0,Adventure,Mystery,Sci-Fi

- DF 2

In [9]:
best_act.shape

(100, 10)

In [10]:
best_act.head(5)

,Name,Date of Birth,Place of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances
0,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ..."
1,Alan Arkin,26 March 1934,"Brooklyn, New York, United States",1,4,1,3,1,6,"Argo, Little Miss Sunshine, The Heart Is a Lon..."
2,Alan Rickman,21 February 1946,"Hammersmith, London, United Kingdom",0,0,1,4,1,1,"Michael Collins, Truly Madly Deeply, Sense and..."
3,Albert Finney,9 May 1936,"Charlestown, Salford, United Kingdom",0,5,2,13,2,9,"The Murder on the orient Express, The Dresser,..."
4,Alec Guinness,2 April 1914,"Maida Vale, London, United Kingdom",1,5,3,7,1,3,"Star Wars, Little Dorrit, The Bridge on the Ri..."

In [11]:
best_act = lists_into_rows(best_act,"Greatest Performances")
best_act.head()

,Name,Date of Birth,Place of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances
0,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Serpico
1,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Scent of a Woman
2,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Dog Day Afternoon
3,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,The Godfather: Part II
4,Alan Arkin,26 March 1934,"Brooklyn, New York, United States",1,4,1,3,1,6,Argo

In [12]:
best_act = lists_into_columns(best_act, "Place of Birth",", ","Neighborhood", "City", "Country" )
best_act.head()

,Name,Date of Birth,Place of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances,Neighborhood,City,Country
0,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Serpico,East Harlem,New York,United States
1,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Scent of a Woman,East Harlem,New York,United States
2,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,Dog Day Afternoon,East Harlem,New York,United States
3,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,The Godfather: Part II,East Harlem,New York,United States
4,Alan Arkin,26 March 1934,"Brooklyn, New York, United States",1,4,1,3,1,6,Argo,Brooklyn,New York,United States

- DF 3

In [13]:
amazon.shape

(9668, 12)

In [14]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [15]:
def get_amazon_df(dataframe, column_name1, column_name2, split, name1, name2, name3):

    dataframe = lists_into_rows(dataframe,column_name1)
    dataframe = lists_into_columns(dataframe, column_name2,split, name1, name2, name3)
    dataframe.drop([name3], axis=1, inplace=True)
    return dataframe

In [16]:
amazon = get_amazon_df(amazon,"cast","listed_in",", ","genre_1","genre_2","genre_3")
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre_1,genre_2
0,s1,Movie,The Grand Seduction,Don McKellar,Brendan Gleeson,Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Comedy,Drama
1,s1,Movie,The Grand Seduction,Don McKellar,Taylor Kitsch,Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Comedy,Drama
2,s1,Movie,The Grand Seduction,Don McKellar,Gordon Pinsent,Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Comedy,Drama
3,s2,Movie,Take Care Good Night,Girish Joshi,Mahesh Manjrekar,India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Drama,International
4,s2,Movie,Take Care Good Night,Girish Joshi,Abhay Mahajan,India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Drama,International

- DF 4

In [17]:
award.head(5)

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [18]:
def filtered_data_4(df):

    '''Function to filter and clean df 4. It filters the column award and substitutes the Nan with 0.
    Takes 1 arg:
    - df
    '''

    df_7 = df[df["Award"]== "Actress"]
    df_1 = df[df["Award"]=="Actor"]
    df_2 = df[df["Award"]=="Actor in a Supporting Role"]
    df_3 = df[df["Award"]=="Actress in a Supporting Role"]
    df_4 = df[df["Award"]=="Actor in a Leading Role"]
    df_5 = df[df["Award"]=="Actress in a Leading Role"]
    df_6 = pd.concat([df_7, df_1, df_2, df_3, df_4, df_5], ignore_index=True)
    df_6['Winner'].fillna(0, inplace=True)
    
    return df_6

In [19]:
award = filtered_data_4(award)
award

,Year,Ceremony,Award,Winner,Name,Film
0,1927/1928,1,Actress,0.0,Louise Dresser,A Ship Comes In
1,1927/1928,1,Actress,1.0,Janet Gaynor,7th Heaven
2,1927/1928,1,Actress,0.0,Gloria Swanson,Sadie Thompson
3,1928/1929,2,Actress,0.0,Ruth Chatterton,Madame X
4,1928/1929,2,Actress,0.0,Betty Compson,The Barker
...,...,...,...,...,...,...
1663,2015,88,Actress in a Leading Role,0.0,Cate Blanchett,Carol
1664,2015,88,Actress in a Leading Role,1.0,Brie Larson,Room
1665,2015,88,Actress in a Leading Role,0.0,Jennifer Lawrence,Joy
1666,2015,88,Actress in a Leading Role,0.0,Charlotte Rampling,45 Years
1667,2015,88,Actress in a Leading Role,0.0,Saoirse Ronan,Brooklyn

- DF 5

In [20]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [21]:
netflix = lists_into_columns(netflix, "listed_in",",","genre_1", "genre_2", "genre_3")
netflix = lists_into_rows(netflix, "cast")
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre_1,genre_2,genre_3
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries,,
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries
2,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries
3,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries
4,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries

        IMPORTING THE DATAFRAMES INTO SQL

Now that we have all 5 datasets cleaned and transformed, we need to upload them to SQL to be able to explore them.

In [24]:
def connection_sql():
    '''Function to connect to sql and upload all the datasets'''

    password = getpass()
    dbName = "actors_actresses"
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)

    datasets = [imdb, best_act, amazon, award, netflix]
    names = ["imdb", "best_act", "amazon", "award", "netflix"]

    for df,name in zip(datasets,names):
        df.to_sql(name, if_exists="append", con=engine, index=False)
        df.to_csv(f"../posibles_datasets/{name}.csv", index=False)

In [25]:
connection_sql()